.button {
  position: absolute;
  top: 30%;
  left: 24.5%;
}
.search {
  position: absolute;
  top: 15%;
  left: 20%;
}
.select {
  position: absolute;
  top: 22%;
  left: 24%;
}
.data {
  position: relative;
  left: 45%;
}
.xmldata {
  position: absolute;
  top: 15%;
  left: 45%;
  right: 35%;
}
body {
  overflow-x: hidden;
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
}
.heading {
  font-family: Georgia, serif;
  padding: 2%;
}
